@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#220a46, #9d32af);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  padding-top: 100px;
}

header {
  width: 100%;
  background-color: var(--corPrincipal);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}



nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.logo {

  width: 203px;
  /* você pode ajustar para o tamanho desejado */
  height: auto;
  /* mantém a proporção */
}



.nav-links {
  flex: 1;
  text-align: right;
  
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--corPrincipal);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li a:hover::after {
  width: 100%;
}

.caixa-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.caixa-texto h1 {
  font-size: 90px;
}

.caixa-texto p {
  margin: 10px 0 20px;
  font-size: 30px;
  color: white;
}


.entrar {
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 16px 34px;
  font-size: 28px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.entrar:hover {
  border: 1px solid var(--corPrincipal);
  background: var(--corPrincipal);
  transition: 1s;
}

.hero-btn {
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 16px 34px;
  font-size: 28px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid var(--corPrincipal);
  background: var(--corPrincipal);
  transition: 1s;
}

nav .fa {
  display: none;
}

@media(max-width: 700px) {
  .logo {
    width: 150px;
    margin-top: 2vw;
  }

  .caixa-texto h1 {
    font-size: 55px;
  }

  .caixa-texto p {
    font-size: 21px;

  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: #3f0b5e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;

  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;

  }
}


@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* registro */

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.form button:hover {
  background: rgb(88, 56, 250);
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}